body {
    font-family: Arial, sans-serif;
}

.info-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
}

.game-menu.hidden {
    display: none;
}

#continueButton, #channelButton {
    margin-top: 10px;
}
